{% extends 'base.html' %}

{% block title %}
{{ organization.name }} - Viewing Members
{% endblock %}

{% block header %}
{% set header_title = 'Viewing Members' %}
{% include 'header.html' %}
{% endblock %}

{% block content %}
<section class="flex flex-col md:grid md:grid-cols-[20%_60%_20%]">
    <div></div>
    <div>
        <table class="w-full border-2 border-black">
            <thead>
                <tr class="bg-green-300 text-xl">
                    <th class="border border-black p-2">Name</th>
                    <th class="border border-black p-2">ID</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr class="hover:bg-green-100">
                    <td class="border border-black p-2 text-2xl">{{ member.first_name }} {{ member.last_name }}</td>
                    <td class="border border-black p-2 text-2xl">{{ member.id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="{{ url_for('dashboard.dashboard') }}" class="text-center mt-4">
            <button
                class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow text-xl w-80 md:w-96">
                Return to Event Dashboard
            </button>
        </form>
    </div>
</section>

{% endblock %}